CherryPy==3.6.0
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.10
Werkzeug==0.9.6
argparse==1.2.2
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
glob2==0.4.1
gnureadline==6.3.3
gunicorn==19.1.1
ipython==2.3.1
itsdangerous==0.24
jasmine==2.1.0
jasmine-core==2.1.2
nltk==3.0.0
numpy==1.9.1
ordereddict==1.1
pusher==0.8
pymongo==2.7.2
pyzmq==14.4.1
scikit-learn==0.15.2
scipy==0.14.0
selenium==2.44.0
six==1.8.0
tornado==4.0.2
tweepy==2.3.0
twitter==1.15.0
wsgiref==0.1.2