.topbar { 
    height: 10%; 
    width: 100%; 
    margin-top: 1%;
}
.title {
    display: inline-block; 
    margin-left: 1%;
}
.navbar { 
    display: inline-block; 
    margin-left: 51%;
    margin-top: 2%;
}
a:hover { 
    color: #416AB5;
} 
a { 
    color: #000; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 100; 
    font-size: 1em;
    text-decoration: none;
}
p { 
    margin-left: 25%; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; 
    font-size: .75em;
}
.org-box { 
    margin: 3%; 
    background-color: #6895E3; 
    width: 95%; 
    padding: 1%; 
    border-radius: 5px; 
    text-align: center;
}
body { 
    margin: 0; 
    background-color: #FFF; 
    cursor: pointer;
}
.map { 
    position:absolute; top:10%; 
    bottom: 0; 
    width: 100%; 
    border: 1px; 
    border-style: solid; 
    border-color: #000;
}
.sidebar { 
    position: absolute; 
    width: 10%; 
    padding-left: 1%; 
    z-index: 9990; 
}
h2 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 100;
}
h3 { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 100;
}
.slider-content {
    visibility: hidden;
}
#slider-range { 
    margin-left: 40%; 
    margin-top: 10%; 
    height: 250px; 
    border-radius: 5px;
}
.ui-widget-content {
    border: 1px solid #000; 
    background: #416AB5; 
    font-weight: normal;
}
.ui-widget-header {
    border: 1px solid #000; 
    background: #6895E3; 
    font-weight: normal;}
#selectable li:hover { 
    background-color: #FFF;
}
#selectable .ui-selected {
    border: 1px solid #000; 
    font-weight: 700; 
    background-color: #FFF;}
#sad-tweets { 
    background-color: #BDE0F2;
}
#happy-tweets { 
    background-color: #F7E699; 
}
#clear-button { 
    background-color:#ED7777; 
}
#all-tweets { 
    background-color: #EDB477;
}
#selectable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 80%;
}
#selectable li { 
    margin-left: 17%; 
    margin-top: 2%; 
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
    font-size: 0.75em; 
    font-family: 'Open Sans', sans-serif; 
    height: 10%; 
    text-align: center;  
    border-radius: 5px; 
    width: 90%; 
    font-weight: 600
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header {
    border: 1px solid #000; 
    color: #A6A6A6;
}
.ui-state-active {
    color: #000;
}
label { 
    font-size: 0.75em; 
    font-weight: 600; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
}
form {
    margin-left: 7%;
}
#radio-label {
    margin-left: 0%;
    width: 100%;
    text-align: center;
}
.ui-button-text-only .ui-button-text {
    padding: 0.4em 1em;
    background-color: #FFF;
}
.ui-button-text-only .ui-button-text {
    border-radius: 5px;
}
.ui-widget {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}
.sad-popup { 
    background-color: #BDE0F2; 
    font-size: 1em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px; 
    padding: 5%;
}
.happy-popup { 
    background: #F7E699; 
    font-size: 1em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding: 5%;
}
.custom-popup .leaflet-popup-content-wrapper {
    background: #FFF;
    color: #000;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    border-radius: 5px;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255,255,255,0.5);
}
.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}
.custom-popup .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #FFF;
}