<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Twitter Mood Map</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<div id='map-one' class='map'> </div>Hi
<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiYXNkdiIsImEiOiJYY3BLVFFJIn0.95ta0d-qxicw8FR70TEJ9w';

  var map = L.mapbox.map('map-one', 'asdv.k6h5h7cf', {
      scrollWheelZoom: false
  })

  var markers = function() {
    $.get("/coordinates", function(data) {
    for (i = 0; i < data.length ; i++) {
      if (i % 2 == 0) {
        L.marker([data[i]['lat_'], data[i]['long_']], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-color': '#FCB514'
        })
        }).addTo(map)
        .bindPopup(data[i]['text']);
      }
      else {
        L.marker([data[i]['lat_'], data[i]['long_']], {
        icon: L.mapbox.marker.icon({
            'marker-size': 'large',
            'marker-color': '#53868B'
        })
        }).addTo(map)
        .bindPopup(data[i]['text']);
        }
    }
  })}

  setInterval(function () {
    markers();
    }, 10000);

</script>
</body>

</html>