<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tweets by Zipcode</title>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/zipcode_map.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src="/static/js/zipcode_map.js"></script>
</head>
<body>
   <div class="topbar">
        <div class="title">
            <h2>Find Tweets by Zipcode</h2>
        </div>
        <div class="navbar">
            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="sidebar">
        <input type="text" id="zipcode" name="zipcode" placeholder="Enter Zipcode">
        <input type="button" id="zipcode-button" value="Submit" />
    </div>
    <div id='map' class='map custom-popup'></div>
</body>

</html>